const ENV = {
    googleMapsApiKey: 'chave api do google maps',
    firebaseConfig: {
        apiKey: "chave da api do firebase",
        authDomain: "exemplo.firebaseapp.com",
        databaseURL: "https://exemplo.firebaseio.com",
        projectId: "exemplo",
        storageBucket: "exemplo.appspot.com",
        messagingSenderId: "0000000000000",
        appId: "1:111111111111:web:7777777777777777777777"
    }

export default ENV;